$orbis-brand-color: #ed9239; // orange

// NOTE: Anything marked with the '-a' suffix is an 80% alpha of the suffix-less value

$orbis-accent-1: #bf6142; // red-brown
// $orbis-accent-1-t: ;
// $orbis-accent-1-a: ;

$orbis-accent-2: #6ed094; // green
// $orbis-accent-2-t: ;
// $orbis-accent-2-a: ;

$orbis-accent-3: #12a8c5; // blue
// $orbis-accent-3-t: ;
// $orbis-accent-3-a: ;

$orbis-neutral-1: #92fe9d; // light-blue
// $orbis-neutral-1-t: ;
// $orbis-neutral-1-a: ;

$orbis-neutral-2: #f9d423; // yellow
// $orbis-neutral-2-t: ;
// $orbis-neutral-2-a: ;

$orbis-neutral-3: #00c9ff; // light-green
// $orbis-neutral-3-t: ;
// $orbis-neutral-3-a: ;

$orbis-neutral-4: #ff4e50; // red
// $orbis-neutral-4-t: ;
// $orbis-neutral-4-a: ;

// $grey-1: ;
// $grey-1-a: ;
// $grey-2: ;
// $grey-2-a: ;
// $grey-3: ;
// $grey-3-a: ;
// $grey-4: ;
// $grey-4-a: ;
//
// $light-1: ;
// $light-2: ;
//
// $status-critical: ;
// $status-warning: ;
// $status-ok: ;
// $status-unknown: ;
